<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}StartAutoTheorie{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
</head>

<body>
  <header>
    <h1> StartAutoTheorie</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/practice/">Practice</a> </li>
        <li><a href="/login/">Login</a> </li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 StartAutoTheorie</p>
  </footer>

</body>
</html>